.legacy-app {
  --radius: 8px;
  --theme: rgb(255, 255, 255);
  --primary: rgb(30, 30, 30);
  --secondary: rgb(108, 108, 108);
  --tertiary: rgb(214, 214, 214);
  --content: rgb(31, 31, 31);
  --code-bg: rgb(245, 245, 245);
  --border: rgb(238, 238, 238);
  --button-fg: #2c5892;
  --button-bg: #eff6ff;
}

.dark .legacy-app {
  --theme: rgb(29, 30, 32);
  --primary: rgb(218, 218, 219);
  --secondary: rgb(155, 156, 157);
  --tertiary: rgb(65, 66, 68);
  --content: rgb(196, 196, 197);
  --code-bg: rgb(55, 56, 62);
  --border: rgb(51, 51, 51);
  --button-bg: #2c5892;
  --button-fg: #eff6ff;
}

.legacy-app .divider {
  width: 100%;
  height: 1px;
  background-color: var(--tertiary);
  margin: 0.5rem 0;
}
.legacy-app #controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
  font-size: smaller;
}
@media screen and (max-width: 560px) {
  .legacy-app #controls {
    font-size: small;
  }
}
.legacy-app .controlGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}
.legacy-app button[type="button"] {
  background: var(--button-bg);
  border-radius: var(--radius);
  color: var(--button-fg);
  border: solid 1px var(--button-fg);
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  cursor: pointer;
}
.legacy-app button[type="button"]:disabled {
  opacity: 0.7;
}
.legacy-app button[type="button"]:enabled:hover {
  background: var(--button-fg);
  color: var(--button-bg);
  border: solid 1px var(--button-fg);
}
.legacy-app #resetButton {
  background: #fdeae4;
  border: solid 1px rgb(170, 0, 0);
  color: rgb(170, 0, 0);
}
.legacy-app #resetButton:hover {
  background: rgb(170, 0, 0);
  color: rgb(253, 234, 228);
  border: solid 1px #aa0000;
}
.legacy-app input,
.legacy-app select {
  background: var(--code-bg);
  border-radius: var(--radius);
  color: var(--primary);
  border: solid 1px var(--border);
  padding: 0.3rem 0.5rem;
  min-width: 0px;
  max-width: 5rem;
}
.legacy-app input:focus,
.legacy-app select:focus {
  outline: revert;
}
.legacy-app #trainingData {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  column-gap: 0.4rem;
  padding: 0.4rem;
}
.legacy-app .trainingImage img {
  width: 100%;
  object-fit: contain;
  image-rendering: pixelated;
  border-radius: 0px;
  margin: 0px;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
  padding: 0.2rem;
}
.legacy-app .trainingImage {
  height: 100%;
  width: 100%;
}
.legacy-app .trainingImage img:hover {
  opacity: 1;
  padding: 0rem;
}
.legacy-app .trainingImage img.selected {
  opacity: 1;
  padding: 0rem;
}
.dark .legacy-app .trainingImage img {
  filter: invert(1);
}
.dark .legacy-app .outputPair img {
  filter: invert(1);
}
.legacy-app #graphAreaContainer {
  width: 100%;
  position: relative;
  height: 100%;
  pointer-events: none;
}
.legacy-app #gaWrapper {
  width: 100%;
  height: 100%;
  background-color: var(--theme);
  border-radius: var(--radius);
  padding: 1rem;
  margin: 0;
  overflow: hidden;
  position: relative;
}
.legacy-app #graphArea {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: none;
  width: 100%;
  z-index: 2;
  position: relative;
}
.legacy-app .gaCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  height: 100%;
  align-items: center;
}
.legacy-app .gaCol.col_1 .node {
  pointer-events: all;
}
.legacy-app .gaCol.col_1 {
  transition: all 0.2s ease-in-out;
}
.legacy-app .gaCol.col_1.flex {
  align-items: start;
}
.legacy-app .gaCol.col_1.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: fit-content;
  width: fit-content;
}
.legacy-app .gaCol.col_1:hover {
  opacity: 0.85;
  pointer-events: all;
}
.legacy-app .node {
  height: 2rem;
  width: 2rem;
  border-radius: 4px;
  background: black;
  margin: 0;
  padding: 0;
  border: solid 0.1rem white;
}
.legacy-app .col1Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100%;
  width: 100%;
}
.legacy-app .gaCol.col_3 {
  align-items: end;
}
.legacy-app #svgContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.legacy-app #statsText {
  margin: 0;
}
.legacy-app #svgContainer path {
  pointer-events: stroke;
}
.legacy-app #svgContainer path:hover {
  stroke-width: 0.3rem;
}
.legacy-app .activeCircle {
  opacity: 1 !important;
}
.legacy-app #circle {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: var(--radius);
  border: 1px solid var(--border);
  background: white;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  z-index: 100;
  font-size: small;
  padding: 0.2rem;
  color: black;
}
.legacy-app .outputPair {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.5rem;
}
.legacy-app .outputPair img {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  image-rendering: pixelated;
  border-radius: 0px;
  margin: 0px;
}
.legacy-app .node.predicted {
  display: flex;
  justify-content: center;
  align-items: center;
}
.legacy-app .node.predicted::before {
  content: "*";
  text-align: center;
  aspect-ratio: 1/1;
  width: 0.6rem;
  height: 0.6rem;
  font-size: 0.4rem;
  color: black;
  background: black;
  padding: 0.1rem;
  border-radius: 50%;
  z-index: 100;
  border: 1px solid white;
}
@media screen and (max-width: 500px) {
  .legacy-app .node {
    height: 1rem;
    width: 1rem;
  }
  .legacy-app .node.predicted::before {
    width: 0.3rem;
    height: 0.3rem;
    font-size: 0.1rem;
  }
  .legacy-app .gaCol {
    gap: 3px;
  }
  .legacy-app #svgContainer {
    opacity: 1;
  }
  .legacy-app .outputPair img {
    width: 0.5rem;
    height: 0.5rem;
  }
}
.legacy-app #exampleNodes {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}
.legacy-app .exampleNodeRow {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  align-items: center;
  padding: 0.2rem 0rem;
}
.legacy-app .exampleNodeRow p {
  margin: 0;
  padding: 0;
  font-size: small;
  text-align: end;
}
.legacy-app .chart-container {
  position: relative;
  margin: auto;
  height: 20vh;
  width: 100%;
}
.legacy-app #gaWrapper {
  min-height: 320px;
}
