.divider {
  width: 100%;
  height: 1px;
  background-color: var(--tertiary);
  margin: 0.5rem 0;
}

#controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap:1rem;
  font-size: smaller;
}
@media screen and (max-width: 560px) {
  #controls {
    font-size: small;

  }
}


.controlGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap:1rem;
}

button[type="button"] {
  background: var(--button-bg);
  border-radius: var(--radius);
  color:var(--button-fg);
  border: solid 1px var(--button-fg);
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
}
button[type="button"]:disabled {
  opacity: 0.7;
}
button[type="button"]:enabled:hover {
  background: var(--button-fg);
  color:var(--button-bg);
  border: solid 1px var(--button-fg);
}
#resetButton{
  background: #fdeae4;
  border: solid 1px rgb(170, 0, 0);
  color: rgb(170, 0, 0);
}
#resetButton:hover{
  background: rgb(170, 0, 0);
  color: rgb(253, 234, 228);
  border: solid 1px #aa0000;
}
input, select{
  background: var(--code-bg);
  border-radius: var(--radius);
  color:var(--primary);
  border: solid 1px var(--border);
  padding: 0.3rem 0.5rem;

}
input:focus, select:focus{
  outline: revert;
}

#trainingData {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  column-gap: 0.4rem;
  padding: 0.4rem;
}
.trainingImage img{
  width: 100%;
  object-fit: contain;
  image-rendering: pixelated;
  border-radius: 0px;
  margin:0px;
  cursor: pointer;
  opacity: 0.7;
  transition:all 0.2s ease-in-out;
  padding:0.2rem;
}
.trainingImage{
  height:100%;
  width:100%;
}
.trainingImage img:hover{
  opacity: 1;
  padding:0rem;
}

.trainingImage img.selected{
  opacity: 1;
  padding:0rem;
}


body.dark .trainingImage img{
  filter: invert(1);
}
body.dark .outputPair img{
  filter: invert(1);
}
#graphAreaContainer {
  width: 100%;
  /* background-color: rgb(245, 245, 245);
  border-radius: var(--radius); */
  position: relative;
  height: 100%;
  pointer-events: none;
}

#gaWrapper{
  width: 100%;
  height: 100%;
  background-color: var(--theme);
  border-radius: var(--radius);
  padding: 1rem;
  margin:0;
  overflow:hidden;
  position: relative;
}

#graphArea {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: none;
  width: 100%;
  z-index: 2;
  position: relative;
}

  
.gaCol{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:5px;
  height: 100%;
  /* width: 100%; */
  align-items: center;
}

.gaCol.col_1 .node{
  pointer-events: all;
}

.gaCol.col_1:hover{
  animation: wiggle 0.3s ease-in-out;
  animation-iteration-count: 2;
  pointer-events: all;
}
/* wiggle animation */
@keyframes wiggle {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-0.3rem);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(0.2rem);
  }
  100% {
    transform: translateY(0);
  }
}
.gaCol.col_1.flex{
  align-items: start;
}

.gaCol.col_1.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: fit-content;
  width: fit-content;
}
.node{
  height:2rem;
  width: 2rem; 
  border-radius: 4px;
  background: black;
  margin: 0;
  padding: 0;
  border: solid 0.1rem white;
}

.col1Wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100%;
  width: 100%;
}

.gaCol.col_3{
  align-items: end;
}

#svgContainer {
  width: 100%;
  height: 100%;
  position:absolute;
  top:0;
  left:0;
  z-index: 0;
}

#statsText {
  margin:0;
}

path{
  pointer-events:stroke;
}

path:hover{
  stroke-width: 0.3rem;
}

.activeCircle {
  opacity: 1 !important;
}

div #circle{
  position:absolute;
  transform:translate(-50%,-50%);
  border-radius:var(--radius);
  border:1px solid var(--border);
  background:white;
  pointer-events: none;
  opacity: 0.0;
  transition: opacity 0.1s ease-in-out;
  z-index: 100;
  font-size: small;
  padding: 0.2rem;
  color: black;
}
.outputPair{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.5rem;
}
.outputPair img{
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  image-rendering: pixelated;
  border-radius: 0px;
  margin:0px;
}

.node.predicted{
  display: flex;
  justify-content: center;
  align-items: center;
}
.node.predicted::before{
  content: "*";
  text-align: center;
  aspect-ratio: 1/1;
  width: 0.6rem;
  height: 0.6rem;
  font-size: 0.4rem;
  color: black;
  background: black;
  padding: 0.1rem;
  border-radius: 50%;
  z-index: 100;
  border: 1px solid white;
}

@media screen and (max-width: 500px) {
  .node{
    height:1rem;
    width: 1rem; 
  }
  .node.predicted::before{
    width: 0.3rem;
    height: 0.3rem;
    font-size: 0.1rem;
  }
  .gaCol{
    gap:3px;
  }
  #svgContainer{
    opacity: 1;
  }
  .outputPair img{
    width: 0.5rem;
    height: 0.5rem;
  }
}

