/* Define default color scheme in :root vars */
:root {
    --color-foreground: rgba(36, 36, 36,255);
    --color-background: rgba(255, 255, 255,255);
    --foreground-transparent: rgba(36, 36, 36,0);
    --background-transparent: rgba(255, 255, 255,0);

    --carousel-background: rgb(248, 248, 248);
    --card-width: 280px;
    --card-height: 220px;
    --card-background: rgb(250, 250, 250);
    --standard-margin: 1rem;
    --side-gutter:2rem;
}

/* Define dark color scheme in media query */
@media (prefers-color-scheme: dark) {
    :root {
        --color-foreground: #fff;
        --color-background: rgba(15, 15, 15,255);
        --card-background: rgba(34, 34, 34,255);
        --background-transparent: rgba(15, 15, 15,0);
        --foreground-transparent: rgba(255, 255, 255,0);
    }
}
*{
    z-index: 10;
}
/* Define default font */
html {
    font-family: sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}
/* Define body background color */
body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    margin:0px;
}

#contentContainer{
    display:absolute;
    max-width: 1000px;
    margin-left: auto;
    margin-right:auto;
}
img{
    width: 100%;

}

@media (max-width: 1030px) {
    .menuContainer{
        margin-left: calc(var(--standard-margin)*2);
        margin-right: calc(var(--standard-margin)*2);
    }
}

.menu{
    max-width: 1000px;
    width:100%;
    /* position: relative; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:var(--standard-margin);
    margin-bottom:var(--standard-margin);
}

 .menuTitle{
    color:var(--color-foreground);
    transition: all 0.5s;
}

.menuLinks{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menuLink.cta{
    box-sizing: border-box;
    transition: all 200ms ease-out 0s;
    text-decoration: none;
    font-weight: bold;
    color: var(--color-foreground);
    margin-left:var(--standard-margin);
    padding:0.8rem 1.5rem;
    background: linear-gradient(90deg, var(--color-foreground) 50%, var(--card-background) 50%);
    background-size: 200% 100%;
    background-position: 100% 100%;
    border-radius:16px;
    box-shadow: inset 0 0 0 0.18em var(--color-foreground);
}
.menuLink.cta:hover{
    background-position: 0% 100%;
    color:var(--color-background);
}
.menuSectionLink{
    text-decoration: none;
    font-weight: bold;
    color: var(--color-foreground);
    margin:var(--standard-margin);
    position: relative;
}

.menuSectionLink::before{
    transition: all 200ms ease-out 0s;
    height: 0.17em;
    content: "";
    position: absolute;
    background-color: var(--color-foreground);
    width: 0%;
    bottom: -0.2em;
}
.menuSectionLink:hover::before{
    width: 100%;
}
.menuContainer{
    transition: all 0.5s;
}
.hamburger{
    display:none;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    background-color: var(--color-foreground);
}

@media (max-width: 800px){
    .hamburger{
        display: inline-block;
    }
    .menu.menu.menuOpen{
        align-items: flex-start;
    }
    .menu .menuLinks{
        display:none;
    }
    .menu .menuLinks .menuLink.cta, .menu .menuLinks .menuSectionLink{
        margin-left:0px;
    }
    .menu.menuOpen .menuTitle{
        display:none;
    }
    .menu.menuOpen .menuLinks{
        display:flex;
        flex-wrap: wrap;
        justify-content: left;
        width:100%;
    }
}

.hstack{
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap:calc(var(--standard-margin)*0.8);
    column-gap: calc(var(--standard-margin)*0.8);
}
_::-webkit-full-page-media, _:future, :root .hstack > *{
    margin-right:calc(var(--standard-margin)*0.8)  !important ;
    margin-bottom: calc(var(--standard-margin)*0.8);
}


.cta{
    box-sizing: border-box;
    position:relative;
    transition: all 200ms ease-out 0s;
    text-decoration: none;
    font-weight: bold;
    color: var(--color-foreground);
    /* margin-right:var(--standard-margin); */
    padding:0.8rem 1.5rem;
    background: linear-gradient(90deg, var(--color-foreground) 50%, var(--color-background) 50%);
    background-size: 200% 100%;
    background-position: 100% 100%;
    border-radius:16px;
    box-shadow: inset 0 0 0 0.18em var(--color-foreground);
    white-space: nowrap;
}

.cta:hover{
    /* border-width: 0px; */
    background-position: 0% 100%;
    color:var(--color-background);
}

.header{
    margin:var(--standard-margin);
    width: 80%;
    padding-bottom:calc(var(--standard-margin)*2);
}

.header .title{
    margin-bottom: calc(var(--standard-margin));
}
.header .subtitle{
    margin-top: calc(var(--standard-margin));
    margin-bottom: calc(var(--standard-margin));
}
.header p{
    margin-top: calc(var(--standard-margin));
    margin-bottom: calc(var(--standard-margin));
}
.header .cta{
    margin-left:0;
}
.header .hstack{
    margin-top: calc(var(--standard-margin));
    position:relative;
    left:-2px;
    /* margin-bottom: calc(var(--standard-margin)/2); */
}

.card{
    z-index: -100;
    width:var(--card-width);
    height: var(--card-height);
    min-width: var(--card-width);
    min-height: var(--card-height);
    background-color: var(--card-background);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.219) 0px 0px 12px -2px;
    overflow: hidden;
    font-size: 0.8rem;
    margin:var(--standard-margin);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .title{
    margin:0;
    font-size:1.6rem;
}
.cardWithImage .title{
    margin:0;
    font-size:1rem;
}
.card .cardText{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin:0.8rem;
    height: 100%;
}
.card .cta{
    position: relative;
    float:left;
    margin-left:0;
}

.card .cardText small{
    margin-top: auto;
}
.cardWithImage img{
    border-radius: 16px 16px 0 0;
    height:40%;
    object-fit: cover;
}
@-moz-document url-prefix() {
    .cardWithImage img{
        height:100%;
    }
  }

.carouselContainer{
    height:100%;
    position:relative;
    margin:0px;
}

.carousel{
    width:100%;
    margin:0px;
    overflow: scroll;
    display:flex;
    justify-content: space-between;
    align-items: center;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.carousel::-webkit-scrollbar{
    display: none;
}
.carousel .card:first-child{
    margin-left:var(--side-gutter);
} 

.carousel .fadeBefore{
    content: "";
    z-index: 2;
    display: block;
    position:absolute;
    height:100%;
    width:calc(var(--side-gutter)*1.2);
    background: linear-gradient(90deg, var(--color-background) 0%, var(--background-transparent) 100%);
    left:0px;
    opacity:0%;
    transition: all 1s;

}
.carousel .fadeAfter{
    z-index: 5;
    display: block;
    position:absolute;
    height:100%;
    width:calc(var(--side-gutter)*1.8);
    background: linear-gradient(270deg, var(--color-background) 0%, var(--background-transparent) 100%);
    right:0px;
    opacity:0%;
    transition: all 1s;
}

@media (min-width: 1000px){
    .carousel .fadeBefore{
        opacity:100%;
    }
    .carousel .fadeAfter{
        opacity:100%;
    }
}


section > *, .header, .menuContainer{
    margin-left:var(--side-gutter);
    margin-right:var(--side-gutter);

}
section{
    margin-top:var(--standard-margin);
    margin-bottom:var(--standard-margin);
}

